a {
  color: #393c41;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  flex: 1;
  z-index: 10;
  position: fixed;
  margin-top: 0;
}

.header__left {
  padding-left: 10px;
  padding-top: 15px;
}

.header__center > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-left: 100px;
}

.header__center > ul > li {
  padding: 5px 10px;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #393c41;
  transition: all 0.5s cubic-bezier(0.5, 0.25, 0.5, 0.25);
}

.header__center > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.header__right > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.header__right > ul > li {
  padding: 5px 10px;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #393c41;
  transition: all 0.5s cubic-bezier(0.5, 0.25, 0.5, 0.25);
}

.header__right > ul > li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
